<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Added Confirmation</title>
	<link rel="icon" type="image/x-icon" href="/images/myBall.ico">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>Pokemon Added</h1>
	<div>
		<img src="<%- front %>" alt="<%- name %>">
		<img src="<%- back %>" alt="<%- name %>"><br>
		<strong>Name: </strong><%- name %><br>
		<strong>Pokedex Number: </strong><%- dex %><br>
		<strong>Height: </strong><%- height %><br>
		<strong>Weight: </strong><%- weight %><br>
		
		<hr>
		<strong>Pokemon added at <%- date %></strong>
		<hr>
	</div>
	<a href="/">HOME</a> 
	<a href ="/search">SEARCH</a>
	<a href  ="/viewAll">VIEW ALL</a>
</body>

</html>
