<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Confirmation</title>
	<link rel="icon" type="image/x-icon" href="/images/myBall.ico">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
	<link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Oswald&display=swap"
      rel="stylesheet"
    />
</head>

<body>
	<h1>Pokemon</h1>
	<div>
		<fieldset>
		<img src="<%- front %>" alt="<%- name %> front sprite">
		<img src="<%- back %>" alt="<%- name %> back sprite"><br>
		<strong>Name: </strong><%- name %><br>
		<strong>Pokedex Number: </strong><%- dex %><br>
		<strong>Height: </strong><%- height %>cm<br>
		<strong>Weight: </strong><%- weight %>kg<br>
		<strong>Evolution: </strong><%- evo %><br>
		<%- flavor %><br>
		
		<!-- <form action="/rename" method="post" onsubmit="return validate()">
			<label><strong>Give <%- name %> a nickname:<br></strong> 
			  <input type="text" name="nickname"/></label>
			<input type="hidden" name="name" value=<%- name %>>
			<input type="submit" value="Rename" />
			<input type="reset" />
		</form> -->

		<% if (evo != "Does Not Evolve") { %>
			<form action="/evolve" method="post" onsubmit="return validate()">
				<label><strong>Evolve <%- name %> into <%- evo %>:</strong> 
				<input type="submit" value="Evolve" />
				<input type="hidden" name="name" value=<%- name %>>
				
				<input type="hidden" name="toEvolve" value=<%- evo %>>
	
			</form>
		<% }%>
		
		

		<hr>
		<strong>Pokemon added at <%- date %></strong>
		<hr>
		</fieldset>
	</div>
	
	<a href="/">HOME</a> 
	<a href ="/search">SEARCH</a>
	<a href  ="/viewAll">VIEW ALL</a>
</body>

</html>
